<script>

    const playBtn = document.getElementById("playBtn");
    const pauseBtn = document.getElementById("pauseBtn");
    const forwardBtn = document.getElementById("forwardBtn");
    const backwardBtn = document.getElementById("backwardBtn");
    const timeEl = document.querySelector('#time');
    const durationEl = document.querySelector('#duration')

    // wavesurfer instanse 
    const wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: '#5f5f5f',
        progressColor: '#ffffff',
        // url: '../assets/episodes/004_episode_final.mp3',
        url: 'https://techcommpod.s3.eu-north-1.amazonaws.com/episodes/004_episode_final.mp3',
        height: 40,
        barWidth: 3,
        barGap: 3,
        barRadius: 3,
        responsive: true
    });

    // Current time & duration
    const formatTime = (seconds) => {
        const minutes = Math.floor(seconds / 60)
        const secondsRemainder = Math.round(seconds) % 60
        const paddedSeconds = `0${secondsRemainder}`.slice(-2)
        return `${minutes}:${paddedSeconds}`
    };

    wavesurfer.on('decode', (duration) => (durationEl.textContent = formatTime(duration)));
    wavesurfer.on('timeupdate', (currentTime) => (timeEl.textContent = formatTime(currentTime)));

    // Audio controls
    playBtn.onclick = function () {
        wavesurfer.play()
    };

    pauseBtn.onclick = function () {
        wavesurfer.pause()
    };

    forwardBtn.onclick = function () {
        wavesurfer.skip(15)
    };

    backwardBtn.onclick = function () {
        wavesurfer.skip(-15)
    };

</script>