<div>
    <div class="music">
        <img src="https://techcommpod.ru/assets/images/techcommpod_logo.jpeg" alt="">
        <div class="info">
            <p>Техкомпод | Выпуск #4</p>
            <h2 id="topic">Дополнение по единому источнику правды</h2>
            <div id="waveform">
                <div id="time">0:00</div>
                <div id="duration">0:00</div>
            </div>
            <div class="audio-controls">
                <button type="button" class="btn-backward" id="backwardBtn" title="Назад на 15 секунд">
                    <i class="fa-solid fa-backward"></i>
                </button>
                <button type="button" class="btn-play" id="playBtn" title="Воспроизвести">
                    <i class="fa-solid fa-play"></i>
                </button>
                <button type="button" class="btn-pause" id="pauseBtn" title="Остановить">
                    <i class="fa-solid fa-pause"></i>
                </button>
                <button type="button" class="btn-forward" id="forwardBtn" title="Вперед на 15 секунд">
                    <i class="fa-solid fa-forward"></i>
                </button>
            </div>
        </div>
    </div>
</div>