<div id="myBio">
  <h3>Ведущий подкаста</h3>
  <p>Владимир Юсупов</p>
  <img src="{{site.url}}{{site.baseurl}}/assets/images/vladimir-yusupov-techwritexru.jpeg" alt="Владимир Юсупов (techwritex.ru)" style="float: left; border-radius: 4px; margin-top:5px; margin-bottom:15px; margin-right: 15px; width: 120px;" />
  <p>Инженер, технический коммуникатор, руководитель Лаборатории решений в области данных.</p>
  <p>Личный блог: <a href="https://techwritex.ru/">techwritex.ru</a> <br>Сайт лаборатории: <a href="https://datasolutionslab.ru/">datasolutionslab.ru</a></p>
  <p><a href="https://www.linkedin.com/in/vladimir-yusupov/">Профиль профессиональной сети</a> </p>
</div>