<form action="https://docs.google.com/forms/d/e/1FAIpQLSfhWwTUodv8w1vUhEE8lwCsJHVARMaURzBGcW53xqPC2IgJ4w/formResponse">
    <fieldset>
        <legend>Моя профессия</legend>

        <div><input type="radio" id="engineer" name="entry.1632960296" value="engineer" />
            <label for="engineer">инженер</label>
        </div>

        <div><input type="radio" id="techwriter" name="entry.1632960296" value="techwriter" />
            <label for="techwriter">технический писатель</label>
        </div>

        <div><input type="radio" id="uxwriter" name="entry.1632960296" value="uxwriter" />
            <label for="uxwriter">UX-писатель</label>
        </div>

        <div><input type="radio" id="my_prof" name="entry.1632960296" value="" />
            <label for="my_prof">мой вариант</label>
            <input type="text" id="my_variant_prof" name="entry.1632960296" value="my_variant_prof" />
        </div>
    </fieldset>

    <fieldset>
        <legend>Интересный формат выпуска для меня</legend>

        <div>
            <input type="checkbox" id="expert" name="entry.546284606" value="expert" />
            <label for="expert">беседа с профильным экспертом</label>
        </div>

        <div>
            <input type="checkbox" id="books" name="entry.546284606" value="books" />
            <label for="books">обзор книг по профессии</label>
        </div>

        <div>
            <input type="checkbox" id="my_format" name="entry.546284606" />
            <label for="my_format">мой вариант</label>
            <input type="text" name="entry.546284606" value="my_variant_format" />
        </div>
    </fieldset>

    <fieldset>
        <legend>Оптимальная длительность выпуска для меня</legend>

        <div><input type="radio" id="less-30" name="entry.1450679191" value="" />
            <label for="less-30">до 30 минут</label>
        </div>

        <div><input type="radio" id="30-45" name="entry.1450679191" value="" />
            <label for="30-45">от 30 до 45 минут</label>
        </div>

        <div><input type="radio" id="45-60" name="entry.1450679191" value="" />
            <label for="45-60">от 45 до 60 минут</label>
        </div>
    </fieldset>

    <div>
        <button type="submit">Отправить</button>
    </div>
</form>