<h3>Похожие выпуски</h3>

<div style="padding: 0.5em; background-color: white; width: 96%; border: 0px solid gray; border-radius: 10px;">
    <a href="{{ include.episode_1_link }}" style="text-decoration: none;">
        <img src="../assets/images/techcommpod_logo.jpeg" style="float: left; border-radius: 4px; margin-top:5px; margin-bottom:15px; margin-right: 15px; width: 140px;" alt="">
        <p style="font-size: 14px;">{{ include.episode_1_number }}</p>
        <p style="font-weight: bold; font-size: 1.17em;">{{ include.episode_1_title }}</p>
        <p>{{ include.episode_1_intro }}</p>
    </a>
</div>

<div style="margin-top: 10px; padding: 0.5em; background-color: white; width: 96%; border: 0px solid gray; border-radius: 10px;">
    <a href="{{ include.episode_2_link }}" style="text-decoration: none;">
        <img src="../assets/images/techcommpod_logo.jpeg" style="float: left; border-radius: 4px; margin-top:5px; margin-bottom:15px; margin-right: 15px; width: 140px;" alt="">
        <p style="font-size: 14px;">{{ include.episode_2_number }}</p>
        <p style="font-weight: bold; font-size: 1.17em;">{{ include.episode_2_title }}</p>
        <p>{{ include.episode_2_intro }}</p>
    </a>
</div>

<div style="margin-top: 10px; padding: 0.5em; background-color: white; width: 96%; border: 0px solid gray; border-radius: 10px;">
    <a href="{{ include.episode_3_link }}" style="text-decoration: none;">
        <img src="../assets/images/techcommpod_logo.jpeg" style="float: left; border-radius: 4px; margin-top:5px; margin-bottom:15px; margin-right: 15px; width: 140px;" alt="">
        <p style="font-size: 14px;">{{ include.episode_3_number }}</p>
        <p style="font-weight: bold; font-size: 1.17em;">{{ include.episode_3_title }}</p>
        <p>{{ include.episode_3_intro }}</p>
    </a>
</div>