body	{
	margin-top: 0px;
	padding:0;
	font-family: 'Cutive Mono', serif;
	font-size:100%;
	line-height:150%;
}

a:link, a:visited	{
	text-decoration: none;
	color:#000
}

a:hover	{
	text-decoration: underline;
}


#main {
	width: 50%;
	margin: 0 auto;
}

#nav {
	text-align:center;
	margin:auto;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom: 1px solid #000;
}

#content-left {
	text-align:left;
	margin:auto;
	padding-top:5px;
	margin-bottom:20px;
	padding-bottom:20px;
}

#content {
	text-align:center;
	margin:auto;
	margin-top:20px;
	padding-top:20px;
	margin-bottom:20px;
	padding-bottom:20px;
}

#footer {
	text-align:center;
	margin:auto;
	font-size:0.8em;
	margin-bottom:10px;
	padding-bottom:10px;
	border-top: 1px solid #000;
}

#logo	{
	text-align:center;
	margin: 20px auto 20px auto;
}

#logo img {
	max-width: 80%;
}

#content-left a:link, #content-left a:visited	{
	text-decoration: underline;
	color:#000
}

#content-left a:hover	{
	text-decoration: none;
}

#post-short a:link, #post-short a:visited	{
	text-decoration: none;
	color:#000
}

#post-short a:hover	{
	text-decoration: underline;
}

#post-short h3, #post h2	{
	margin-bottom: 0px;
}

#post-short i	{
	font-size:0.8em;
	color: grey;
}

#post i	{
	font-size:0.9em;
	color: grey;
}

#categories a, #categories a:link, #categories a:visited {
	background-color: grey;
	text-decoration: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 25px;
}

#categories a:hover {
	text-decoration: underline;
}

/* custom style start*/

table, td, th {  
	border: 1px solid #ddd;
	text-align: left;
  }
  
  table {
	border-collapse: collapse;
	width: 100%;
  }
  
  th, td {
	padding: 15px;
  }

.podcastButtonsEmbedPost {
    padding-bottom: 20px;
	padding-top: 5px;
	padding-left: 40px;
}

.podcastButtons img {
    max-width: 125px
}

/* #myblockquote {
	margin: 0;
	background: #F0F0F1;
	color: #333334;
	padding: 20px 30px;
	position: relative;
	border-left: 35px solid #DFDEDE;
	font-family: 'Lato', sans-serif;
}

#myblockquote:before {
	content: "\201C";
	font-family: serif;
	position: absolute;
	left: -29px;
	top: 5px;
	color: #BCBCBC;
	font-size: 50px;
	text-shadow: 1px 2px 0 white;
}
	
#myblockquote p {
	margin: 0 0 16px;
	font-size: 20px;
	letter-spacing: .05em;
	line-height: 1.4;
}
	
#myblockquote cite {
	font-style: normal;
	font-weight: 300;
} */

/* custom style end*/

@media screen and (max-width: 850px) {
	#main {
		width: auto;
		margin: 0 auto;
		padding: 10px;
	}

	#logo, #nav, #content-left,	#footer {
		display: block;
		width: 100%;
	}

	#logo img {
		max-width: 80%;
	}

	#nav {
		font-size: 2em;
		padding-bottom: 0.5em;
	}

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 2em;
	}

}

@media screen and (max-width: 400px) {
	#main {
		width: auto;
		margin: 0 auto;
		padding: 10px;
	}

	#logo, #nav, #content-left,	#footer {
		display: block;
		width: 100%;
	}

	#logo img {
		max-width: 80%;
	}

	#nav {
		font-size: 1.1em;
		padding-bottom: 0.5em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

}

/* audio player style*/


.music img {
    width: 180px;
    height: 180px;
}

.music {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background: #292929;
    display: flex;
}

.info {
    /* color: white; */
    margin-left: 30px;
    flex: 1;
}

.info p {
	font-family: 'poppins', sans-serif;
    font-size: 15px;
    color: #fff6;
    /* margin: 10px 0 10px; */
}

.info h2 {
	font-family: 'poppins', sans-serif;
    margin: 10px 0 15px;
    color: white;
}

.audio-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

button {
    background-color: #ffffff;
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
    margin: 0 2px;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

button:hover {
    background-color: #fff6;
}

button i {
    font-size: 20px;
    color: #2b2b2b;
}

#time {
    position: absolute;
    z-index: 11;
    /* top: 15%; */
    top: 190px;
    margin-top: -1px;
    transform: translateY(-50%);
    font-size: 13px;
    background: rgba(0, 0, 0, 0.75);
    padding: 2px;
    color: #ddd;
}

#duration {
    position: absolute;
    z-index: 11;
    /* top: 15%; */
    top: 190px;
    margin-top: -1px;
    transform: translateY(-50%);
    font-size: 13px;
    background: rgba(0, 0, 0, 0.75);
    padding: 2px;
    color: #ddd;
}

/* #time {
    left: 0;
} */

#duration {
    right: 35px;
}

/* #topic {
    white-space: nowrap; 
  width: 600px; 
    overflow: hidden;
    text-overflow: ellipsis;
} */